{% include header.html %}
  <body>
    <section class="page-header">
      <h1 class="project-name">DigitalWaters</h1>
      <h2 class="project-tagline"></h2>
      <a href="instantshot.html" class="btn">InstantShot</a>
      <a href="fasticns.html" class="btn">FastIcns</a>
      <a href="cocopad.html" class="btn">CocoPad</a>
      <a href="javaimg.html" class="btn">JavaImg</a>
      <a href="contactus.html" class="btn">Contact Us</a>
    </section>

    <section class="main-content">
      <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>We moved!</h3>

<p>
  We moved but all the software is still here:
<ul>
  <li>InstantShot!</li>
  <li>FastIcns!</li>
  <li>Offshoots</li>
  <li>Cocopad</li>
  <li>JavaImg</li>
</ul>
Please note that it is not possible to leave comments anymore, so for a quick reply, please contact us at our <a href="mailto:info@digitalwaters.net">info</a> email.
</p>

<h3>
<a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>InstantShot! 2.6.5 is out!</h3>

<p>Thank to all the the reporting, we made some bugfixing and released a new version of the software.</p>


<!-- <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>
-->
<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>Contact us at <a href="mailto:info@digitalwaters.net">info@digitalwaters.net</a> and we'll glad to help!</p>

{% include footer.html %}
